In [104]:
import pandas as pd

pop_seoul = pd.read_excel("../data/01. Seoul_Population.xlsx", header=2, usecols="B,D,G,J,N")
pop_seoul.rename(columns={pop_seoul.columns[0]:"구별",
                          pop_seoul.columns[1]:"인구수",
                          pop_seoul.columns[2]:"한국인",
                          pop_seoul.columns[3]:"외국인",
                          pop_seoul.columns[4]:"고령자"},
                          inplace=True)
pop_seoul.head()

cctv_seoul = pd.read_csv("../data/01. Seoul_CCTV.csv", index_col=0)
cctv_seoul.reset_index(drop=True, inplace=True)
cctv_seoul.drop([0], inplace=True)
cctv_seoul.reset_index(drop=True, inplace=True)
cctv_seoul.head()

cctv_seoul.rename(columns={cctv_seoul.columns[0]:"구별"}, inplace=True)
cctv_seoul.rename(columns={cctv_seoul.columns[2]:"이전"}, inplace=True)
cctv_seoul.head()
# pop_seoul.drop([0], inplace=True)

/home/taemin/venv/eda_venv/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

    구별      총계    이전 2015년 2016년 2017년 2018년 2019년 2020년 2021년 2022년 2023년
0  종로구  2,031   549   158   128   143   142    67   237    82   225   300
1  중 구  2,718   275   236   239   372   386   155   364   419   137   135
2  용산구  3,258    88    38   295   491   147   335   473   486   500   405
3  성동구  4,409   190   352   278   939   457   640   483   366   233   471
4  광진구  3,828   309    95    42   666   460   712   191   740   273   340

In [105]:

pop_seoul['구별'].unique()
pop_seoul['외국인비율'] = pop_seoul['외국인'] / pop_seoul['인구수'] * 100
pop_seoul['고령자비율'] = pop_seoul['고령자'] / pop_seoul['인구수'] * 100
pop_seoul.head()

    구별      인구수      한국인     외국인      고령자     외국인비율      고령자비율
0   소계  9638799  9386034  252765  1743696  2.622370  18.090387
1  종로구   150453   139417   11036    28764  7.335181  19.118263
2   중구   131793   121312   10481    25920  7.952623  19.667205
3  용산구   227106   213151   13955    39747  6.144708  17.501519
4  성동구   284766   277361    7405    49462  2.600381  17.369349

In [106]:
pop_seoul.sort_values(by="고령자", ascending=False).head()

     구별      인구수      한국인     외국인      고령자     외국인비율      고령자비율
0    소계  9638799  9386034  252765  1743696  2.622370  18.090387
24  송파구   660025   654166    5859   108894  0.887694  16.498466
16  강서구   568826   563058    5768   102096  1.014018  17.948547
11  노원구   502925   498213    4712    96422  0.936919  19.172242
12  은평구   470869   466770    4099    93817  0.870518  19.924225

In [107]:
left = pd.DataFrame({
    "key" : ["k0", "k4", "k2", "k3"],
    "A" : ["a0", "a1", "a2", "a3"],
    "B" : ["b0", "b1", "b2", "b3"]
})

right = pd.DataFrame({
    "key" : ["k0", "k1", "k2", "k3"],
    "C" : ["c0", "c1", "c2", "c3"],
    "D" : ["d0", "d1", "d2", "d3"]
})

left

  key   A   B
0  k0  a0  b0
1  k4  a1  b1
2  k2  a2  b2
3  k3  a3  b3

In [108]:
right

  key   C   D
0  k0  c0  d0
1  k1  c1  d1
2  k2  c2  d2
3  k3  c3  d3

In [109]:
pd.merge(left, right, how="outer", on="key")

  key    A    B    C    D
0  k0   a0   b0   c0   d0
1  k1  NaN  NaN   c1   d1
2  k2   a2   b2   c2   d2
3  k3   a3   b3   c3   d3
4  k4   a1   b1  NaN  NaN

In [119]:
data_result = pd.merge(cctv_seoul, pop_seoul, on='구별')
del data_result['이전']
del data_result['2015년']
del data_result['2016년']
del data_result['2017년']
del data_result['2018년']
del data_result['2019년']
del data_result['2020년']
del data_result['2021년']
del data_result['2022년']
del data_result['2023년']
data_result.set_index('구별', inplace=True)

data_result.to_csv('df.csv')
data_result.head()

          총계     인구수     한국인    외국인    고령자     외국인비율      고령자비율
구별
종로구   2,031   150453  139417  11036  28764  7.335181  19.118263
용산구   3,258   227106  213151  13955  39747  6.144708  17.501519
성동구   4,409   284766  277361   7405  49462  2.600381  17.369349
광진구   3,828   351180  335554  15626  56819  4.449570  16.179452
동대문구  3,268   359873  341149  18724  67030  5.202947  18.626015