In [205]:
print ("hello, 000world")

hello, 000world

In [206]:
import pandas as pd

cctv_seoul = pd.read_csv("../data/01. Seoul_CCTV.csv", index_col=0)
cctv_seoul.reset_index(drop=True, inplace=True)
cctv_seoul.drop([0], inplace=True)
cctv_seoul.reset_index(drop=True, inplace=True)
cctv_seoul.head()

,구분,총계,2015년 이전\n설치된 CCTV,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
0,종로구,"2,031",549,158,128,143,142,67,237,82,225,300
1,중 구,"2,718",275,236,239,372,386,155,364,419,137,135
2,용산구,"3,258",88,38,295,491,147,335,473,486,500,405
3,성동구,"4,409",190,352,278,939,457,640,483,366,233,471
4,광진구,"3,828",309,95,42,666,460,712,191,740,273,340

In [207]:
cctv_seoul.rename(columns={cctv_seoul.columns[0]:"구 별"}, inplace=True)
cctv_seoul.rename(columns={cctv_seoul.columns[2]:"이전"}, inplace=True)
cctv_seoul.head()

   구 별      총계    이전 2015년 2016년 2017년 2018년 2019년 2020년 2021년 2022년 2023년
0  종로구  2,031   549   158   128   143   142    67   237    82   225   300
1  중 구  2,718   275   236   239   372   386   155   364   419   137   135
2  용산구  3,258    88    38   295   491   147   335   473   486   500   405
3  성동구  4,409   190   352   278   939   457   640   483   366   233   471
4  광진구  3,828   309    95    42   666   460   712   191   740   273   340

In [208]:
pop_seoul = pd.read_excel("../data/01. Seoul_Population.xlsx", header=2, usecols="B,D,G,J,N")
pop_seoul.rename(columns={pop_seoul.columns[0]:"구별",
                          pop_seoul.columns[1]:"인구수",
                          pop_seoul.columns[2]:"한국인",
                          pop_seoul.columns[3]:"외국인",
                          pop_seoul.columns[4]:"고령자"},
                          inplace=True)
pop_seoul.head()

/home/taemin/venv/eda_venv/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

    구별      인구수      한국인     외국인      고령자
0   소계  9638799  9386034  252765  1743696
1  종로구   150453   139417   11036    28764
2   중구   131793   121312   10481    25920
3  용산구   227106   213151   13955    39747
4  성동구   284766   277361    7405    49462

In [209]:
import pandas as pd
import numpy as np

s = pd.Series([1, 3, 5, np.nan, 6, 9])
data_list = pd.date_range("20130101", periods=6)
df = pd.DataFrame(np.random.randn(6,4),
                  index=data_list,
                  columns=["A", "B", "C", "D"])
# df["A"]
# df.sort_values(by="C", ascending=False)
# df["20130102":"20130105"]
# df[df > 0]
df["E"] = ["one", "one", "two", "three", "four", "tree"]
df[df["E"].isin(["two", "four","one"])]

                   A         B         C         D     E
2013-01-01  1.809395 -0.992481  1.408604 -0.102331   one
2013-01-02  0.071394  0.418023 -0.298812  0.777406   one
2013-01-03 -1.448454  1.803124 -1.203263  0.026969   two
2013-01-05 -0.870944  0.126168  0.129727 -0.630869  four

In [210]:
# df[0:3].apply(np.cumsum)
# del df["E"]
# df[df > 0]
df

                   A         B         C         D      E
2013-01-01  1.809395 -0.992481  1.408604 -0.102331    one
2013-01-02  0.071394  0.418023 -0.298812  0.777406    one
2013-01-03 -1.448454  1.803124 -1.203263  0.026969    two
2013-01-04  0.809575 -1.196864 -0.539651 -0.683317  three
2013-01-05 -0.870944  0.126168  0.129727 -0.630869   four
2013-01-06  0.330387 -0.639228 -0.748202 -0.422717   tree

In [220]:
# cctv_seoul.sort_values(by="총계", ascending=False).head()
# cctv_seoul["최근증가율"] = (
#     (cctv_seoul["2023년"] + cctv_seoul["2022년"] + cctv_seoul["2021년"])
#     /cctv_seoul.iloc[:,2:10].sum(axis=1) * 100
# )

cctv_seoul.iloc[:,2:10].dtypes

# cctv_seoul = cctv_seoul.astype(dtype={'총계':'int'},
#                                errors='raise',
#                                copy=True)
# convert_col_name = ['총계', '이전','2015년', '2016년', '2017년', '2018년', '2019년', '2020년', '2021년', '2022년', '2023년']
# for name in convert_col_name : 
#     cctv_seoul[name] = cctv_seoul[name].str.replace(',','')
cctv_seoul = cctv_seoul.fillna(0)
cctv_seoul = cctv_seoul.astype(dtype={'총계':'int',
                                      '이전':'int',
                                      '2015년':'int',
                                      '2016년':'int',
                                      '2017년':'int',
                                      '2018년':'int',
                                      '2019년':'int',
                                      '2020년':'int',
                                      '2021년':'int',
                                      '2022년':'int',
                                      '2023년':'int',
                                      }, 
                                      errors='raise',
                                      copy=True)
cctv_seoul.dtypes

cctv_seoul['2020년 이전'] = cctv_seoul.iloc[:,2:8].sum(axis=1)
cctv_seoul['최근증가율'] = (
    (cctv_seoul['2023년'] + cctv_seoul['2022년'] + cctv_seoul['2021년'])
    /cctv_seoul.iloc[:,2:10].sum(axis=1) * 100
)
cctv_seoul.sort_values(by='최근증가율', ascending=False).head(5)

,구 별,총계,이전,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년,2020년 이전,최근증가율
9,도봉구,2378,3,0,68,80,152,149,156,552,557,661,452,152.586207
17,금천구,3169,0,92,130,196,539,366,514,207,304,821,1323,65.166341
2,용산구,3258,88,38,295,491,147,335,473,486,500,405,1394,59.116022
14,양천구,4447,4,216,418,566,827,321,352,347,386,1010,2352,57.128810
23,송파구,4031,223,183,126,227,526,1050,237,151,431,877,2335,53.580610